name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Replace 'username/repo-name' with your actual HF info
          # Example: git push https://your-user:$HF_TOKEN@huggingface.co/spaces/your-user/your-space main
          git push --force https://YOUR_HF_USERNAME:$HF_TOKEN@huggingface.co/REPOTYPE/YOUR_HF_USERNAME/YOUR_HF_REPO_NAME main
